# Banco de dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=hsjmaais

# Supabase
SUPABASE_URL=https://pvhuezandbhtghsvjgux.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2aHVlemFuZGJodGdoc3ZqZ3V4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTY4NTkyMiwiZXhwIjoyMDk3MjYxOTIyfQ.OkldSn_S8_ZhfRRsvcIp8qH3-8gw2O_ZWK3Mey9_Rck

# API
API_PREFIX=api
PORT=3000
APP_ENV=dev
